//Configuracion de los presets y plugins que necesitaremos

{
    "presets":[
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins":[
        "transform-class-properties"
    ]
}